# Build output
/build/
/dist/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ninja
.ninja_log
.ninja_deps

# ESP-IDF config (local)
sdkconfig
sdkconfig.old

# VSCode
.vscode/

# Eclipse
.project
.cproject

# macOS
.DS_Store

# Python
__pycache__/
*.pyc

managed_components/*

.devcontainer

.vscode